# all services
services:
  - type: web
    name: aos-2023-jyc
    env: node
    repo: https://github.com/jycouet/aos-2023
    region: frankfurt
    plan: Free
    branch: main
    buildCommand: npm i -g pnpm; pnpm install --production=false; pnpm build
    startCommand: pnpm start
    numInstances: 1
    #  healthCheckPath: /api/healthz
    envVars:
      - key: NODE_VERSION
        value: 21.2.0
      - key: TZ
        value: utc
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
